@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
    transition: all 0.5s;
  }
 
  :root {
 
    --c0: #ffffff;
    --c1: #f8f9fa;
    --c2: #edeff0;
    --c3: #d9d9d9;
    --c4: #bdbdbd;
    --c5: #9e9e9e;
    --c6: #424242;
    --c7: #5f6368;
    --c8: #121212;
    --c9: #000000;

    --font-size : 12px;

    --logo-top:  var(--c6);
    --logo-bottom: var(--c4);

    --titlebar-bg : var(--c8);
    --titlebar-fg : var(--c1);
    --titlebar-border : var(--c9);

    --window-bg : var(--c8);
    --window-fg : var(--c1);

    --page-bg : var(--c7);
    --page-fg : var(--c1);

    --card-bg :var(--c9);
    --card-fg :var(--c1);

    --primary-bg : darkgreen;
    --primary-fg : white;

    --error-bg : darkred;
    --error-fg : white;
    
    --interface-border : #ccc;
}

.input, .textarea, .select select {
  color: inherit;
  background-color: var(--c8);
  border :0px;
  padding: 5px;
  margin:5px;
  border-radius: 0px;
  /* color: #363636; */
}

.mdi.md-18 { font-size: 18px; }
.mdi.md-24 { font-size: 24px; }
.mdi.md-36 { font-size: 36px; }
.mdi.md-48 { font-size: 48px; }

::-webkit-scrollbar-button {
  display: block;
  height: 0px;
  border-radius: 0px;
  background-color: #000
}

::-webkit-scrollbar-thumb {
  background-color: var(--c5);
}

::-webkit-scrollbar-track {
  background-color: var(--c9);
}

::-webkit-scrollbar {
  width: 10px;
}
.card{
background-color: var(--card-bg);
color:var(--card-fg);
}

.primary{
  background-color:var(--primary-bg);
color:var(--primary-fg);
}
.error{
  background-color:var(--error-bg);
color:var(--error-fg);
}

html,body{
    padding: 0;
    margin:0;
    position: relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif ;
    font-size: var(--font-size);
    background-color:var(--window-bg);
    color:var(--window-fg);
}



body{
background-color:var(--window-bg);
color:var(--window-fg);


}